*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: white;
}

img{
    /*display: block;*/
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    position: absolute;
    z-index: 100;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    top: 20px;
    left: 56px;
}

.header a{
    display: inline-block;
    background-color: #e5091a;
    color: white;
    align-self: flex-start;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.main{
    padding-top: 4rem;
    height: 600px;
    background: url(../imagens/bg.jpg) center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.main .main-child{
    z-index: 18;
    display: grid;
    justify-items: center;
}

.gradient{
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
}

.main h1{
    font-size: 46px;
    max-width: 480px;
    text-align: center;
}

.main span{
    margin: 20px 0;
    font-size: 26px;
}

.main p{
    font-size: 19px;
}

.form-cta{
    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;
    margin-bottom: 10px; 
}

.form-cta input{
    padding: 20px 10px;
    font-size: 18px;
    font-family: sans-serif;
}


.form-cta button{
    background-color: #e5091a;
    border: none;
    outline: none;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.section{
    background-color: black;
    padding: 4rem 0;
    border-top: 8px solid #222;
}

.section h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.section p{
    font-size: 25px;
}


.grid{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
}

.img-tv{
    position: relative;
}

.img-tv img{
    position: relative;
    z-index: 1;
}

.video-tv{
    position: absolute;
    top: 92px;
    left: 82px;
    width: 400px
}

.download .grid > div:first-child{
    order: 2;
}

.download .img-tv{
    order: 1;
}

.device-pile .video-tv{
    width: 340px;
    top: 50px;
    left: 120px;
}   

.footer{
    background: black;
    display: grid;
    justify-items: center;
    text-align: center;
    border-top: 8px solid #222;
    padding: 4rem 0 2rem 0;
    
}

.faq{
    width: 100%;
}

.faq h1{
    margin-top: 20px;
    text-align: center;
}

.faq-list{
    margin: 50px auto;
    max-width: 815px;
    font-size: 18px;
}

.faq-question,
.faq-answer{
    background-color: #303030
}

.faq-question{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 1px;
}


.faq-question::after{
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imagens/fechar.svg) no-repeat center center;
    transform: rotate(45deg)
}

.faq-answer > div{
    padding: 30px;

}

.faq-question.active::after {
    transform: rotate(0deg);
}
  

.faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.faq-answer.active {
    max-height: 1200px;
}

.footer .form-cta{
    margin-top: 0;
}

.footer p{
    margin-top: 1rem;
}

.footer p a{
    color: #757575;
    font-size: 14px;
    text-decoration: none;
}